<?xml version="1.0"?>
<launch>

    <node pkg="probot_grasping" name="display_img" type="display_img" output="screen"/>
    <node pkg="probot_grasping" name="vel_control" type="vel_control" output="screen"/>
    <node pkg="probot_grasping" name="ibvs_analysis" type="ibvs_analysis" output="screen"/>

</launch>
