<?xml version="1.0"?>
<!-- BOTTOM FIXED LINK 
This link is the base of the arm in which arm is placed 
-->
<robot name="camera" xmlns:xacro="http://ros.org/wiki/xacro">

<!-- camera -->
  <gazebo reference="camera_link">
    <material>Gazebo/Red</material>
    <sensor type="depth" name="camera">
    <!-- <sensor type="camera" name="camera"> -->
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.8</horizontal_fov>
        <image>
          <width>1000</width>
          <height>1000</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <!-- <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.0</stddev>
        </noise> -->
      </camera>
      <!-- <plugin name="camera_controller" filename="libgazebo_ros_camera.so"> -->
        <plugin name="camera_controller" filename="libgazebo_ros_openni_kinect.so">        
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>probot_anno/camera</cameraName>
        <imageTopicName>rgb/image_raw</imageTopicName>
        <depthImageTopicName>depth/image_raw</depthImageTopicName>
        <pointCloudTopicName>depth/points</pointCloudTopicName>
        <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
        <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
        <frameName>camera_link</frameName>
        <baseline>0.2</baseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
        <pointCloudCutoff>0.001</pointCloudCutoff>
        <pointCloudCutoffMax>60.0</pointCloudCutoffMax>
        <CxPrime>0</CxPrime>
        <Cx>0</Cx>
        <Cy>0</Cy>
        <focalLength>0</focalLength>
        <hackBaseline>0</hackBaseline>
      </plugin>
    </sensor>
</gazebo>
</robot>
